/* *{
    outline: 2px solid;
} */
.register{
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
}
.register-form{
    text-align: center;
    width: 400px;
    height: 400px;
    /* background-color: aqua; */
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}
.register-img{
    margin-top: 20px;
    width: 400px;
    height: 430px;
    background-size: contain;
    background-repeat: no-repeat;
}
#name,#password,#email{
    margin: 10px;
    width: 300px;
    height: 25px;
    padding: 20px;
    border-radius: 10px;
}
.register-btn{
    width: 120px;
    margin: 20px;
    height: 35px;
    background-color: #4681f4;
    color:white ;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
.register-btn:active{
    background-color: blue;
}
@media (max-width:900px) {
    .register{
        flex-direction: column-reverse;
    }
    
}
@media (max-width:400px) {

    .register-form{
        width: 300px;
    }
    .register-img{
        width: 300px;
    }
    #name,#password,#email{
        width: 200px;
    }
    
}